<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :message_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :message_user_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, id: :message_event_id %>
  </div>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_area :user_name, id: :message_user_name %>
  </div>

  <div class="field">
    <%= form.label :event_name %>
    <%= form.text_area :event_name, id: :message_event_name %>
  </div>

  <div class="field">
    <%= form.label :participants %>
    <%= form.text_field :participants, id: :message_participants %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
