<%= form_with(model: frendship, local: true) do |form| %>
  <% if frendship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frendship.errors.count, "error") %> prohibited this frendship from being saved:</h2>

      <ul>
      <% frendship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :frendship_user_id %>
  </div>

  <div class="field">
    <%= form.label :friend_id %>
    <%= form.number_field :friend_id, id: :frendship_friend_id %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at, id: :frendship_created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at, id: :frendship_updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
