<p id="notice"><%= notice %></p>

<h1>Frendships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Friend</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frendships.each do |frendship| %>
      <tr>
        <td><%= frendship.user_id %></td>
        <td><%= frendship.friend_id %></td>
        <td><%= frendship.created_at %></td>
        <td><%= frendship.updated_at %></td>
        <td><%= link_to 'Show', frendship %></td>
        <td><%= link_to 'Edit', edit_frendship_path(frendship) %></td>
        <td><%= link_to 'Destroy', frendship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frendship', new_frendship_path %>
