<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @frendship.user_id %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @frendship.friend_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @frendship.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @frendship.updated_at %>
</p>

<%= link_to 'Edit', edit_frendship_path(@frendship) %> |
<%= link_to 'Back', frendships_path %>
