<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue_id %>
</p>

<p>
  <strong>Ticket url:</strong>
  <%= @event.ticket_url %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @event.genre %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
