<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @events_user.event_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @events_user.user_id %>
</p>

<%= link_to 'Edit', edit_events_user_path(@events_user) %> |
<%= link_to 'Back', events_users_path %>
